# Default ignored files
/../../../:tarjima_proyekt/.idea/shelf/
/../../../:tarjima_proyekt/.idea/workspace.xml
# Datasource local storage ignored files
/../../../:tarjima_proyekt/.idea/dataSources/
/../../../:tarjima_proyekt/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../:tarjima_proyekt/.idea/httpRequests/
